# Ignora a pasta onde os arquivos uploaded são salvos
uploads/

# Ignora o arquivo de lock de pacotes
package-lock.json

# Opcional: Ignorar a pasta de saída da compilação TypeScript
dist/

# Opcional: Ignorar node_modules para este sub-projeto
node_modules/