@import 'tailwindcss';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

*,
:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Style the entire scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #424242;
  border-radius: 5px;
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #747474;
  border-radius: 5px;
}
